
<html><title><%= r.name %></title>
<body>
  <% if (r.owmer != name) { %>
    Only the owner can edit this form.
    <% }else{ %>
      You can edit this form.
        <% } %>
<form id='details' method='GET' action='/change'>
<input type="hidden" name="_id" value="<%= r._id %>"><br>
Name: <%= r.name %>" <br>
Borough: <%= r.borough %><br>
Cuisine:<%= r.cuisine %><br>
Address<br>
building:<%= r.address.building %>" readonly><br>
street:<%= r.address.street %><br>
zipcode:<%= r.address.zipcode %><br>
coord_lon:<%= r.address.coord_lon %> <br>
coord_lat:<%= r.address.coord_lat %><br>
</form>

<script>
function goBack() {window.history.back();}
</script>
<% if (r.owmer == name) { %>
<button type="submit" form="details" value="Edit">Edit</button>
<% } %>
<button onclick="goBack()">Go Back</button>
