
<html><title><%= r.name %></title>
<body>
  <% if (r.owmer != name) { %>
    Only the owner can edit this form.
    <% }else{ %>
      You can edit this form.
        <% } %>
<br>
<img src="data:<%= r.mimetype %>; base64,  <%= r.photo %>" >
<form id='details' method='GET' action='/change'>
<input type="hidden" name="_id" value="<%= r._id %>"><br>
Name: <%= r.name %> <br>
Borough: <%= r.borough %><br>
Cuisine:<%= r.cuisine %><br>
Address<br>
building:<%= r.address.building %><br>
street:<%= r.address.street %><br>
zipcode:<%= r.address.zipcode %><br>
coord_lon:<%= r.address.coord_lon %> <br>
coord_lat:<%= r.address.coord_lat %><br>
Rate:
<ol>
  <%
  RrateLength = r.rate;
  for (var i=1; i<RrateLength.length; i++) {
    %>
  <li>user: <%= RrateLength[i].user %> score:<%= RrateLength[i].score %>  </li>
  <%  } %>
</ol>
<br>
</form>
<form method='POST' action='/rate'>
<input type="hidden" name="_id" value="<%= r._id %>">
<%

  if (c == 'yes' ){ %>
<input type="hidden" name="rateuser" value"<%= c %>" >
<%  } %>
<button type="submit" value="Rate">Rate</button>
</form>
<script>
function goBack() {window.history.back();}
</script>
<% if (r.owmer == name) { %>
<button type="submit" form="details" value="Edit">Edit</button>
<% } %>
<button onclick="goBack()">Go Back</button>
